body {
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: #ffffff; /* White graph paper background */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px); /* Bold vertical lines in darker black */
  background-size: 4mm 4mm, 4mm 4mm, 2cm 2cm, 2cm 2cm; /* Thin lines at 2mm, bold lines at 2cm */
  background-position: 0 0, 0 0, 2cm 2cm, 2cm 2cm; /* Bold lines offset to every 2nd cube */
  overflow-x: hidden;
  font-family: Nunito;
}

.content-section-1 {
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.introtext{
  padding: 0px 15px;
  border: 5px dashed rgb(255, 144, 255);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 800;
}

.content-section-2 {
  width: 100%;
  color: #ff4e4e;
}

.textsegment {
  padding: 0 20px;
  width: 30vw;
  margin-left: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bolder;
  float: left;
}


.imgseg {
  display: flex;
  justify-content: center;
  align-items: center;
  height:331px;
  width: 20vw;
  margin-right: 250px;
  float: right;
}

.imgseg img{
  width: 250px;
  border: 5px olivedrab double;
  border-radius: 60px;
}

.top1 {
  margin-top: 50px;
  font-size: 70px;
  color: black;
  display: block;
}

#text-with-outline {
  text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black,
    -2px 2px 0 black;
}

.top2 {
  margin-bottom: 50px;
  font-size: 100px;
  text-decoration: none;
  color: white;
  display: block;
  /*    text-shadow: 
        0 0 100px orange, 
        0 0 150px orange, 
        0 0 200px orange, 
        0 0 300px orange; */
}

.wavy {
  animation-name: wavy;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}

.sectionZ {
  width: 100vw;
  height: auto;
  padding: 50px;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(dokja01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1px solid brown; */
}

.wishdiv {
  width: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 50px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

#biggg{
  font-size: 20px;
}

.contentsectionscroll {
  height: 300px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  padding: 40px;
  border: 1px solid #ccc;
}

.contentsectionscroll::-webkit-scrollbar {
  height: 12px;
}

.contentsectionscroll::-webkit-scrollbar-track {
  background: #ffe5ec;
  border-radius: 10px;
}

.contentsectionscroll::-webkit-scrollbar-thumb {
  background: #ff80ab;
  border-radius: 10px;
  border: 2px solid #ffe5ec;
}

.contentsectionscroll::-webkit-scrollbar-thumb:hover {
  background: #ff4081;
}

.smess {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-shadow: 1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.smess::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.smessO {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-shadow: 1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.smessO::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  border-radius: 10px;
}

#smess1 {
  background-image: url(https://i.pinimg.com/736x/ec/dc/bb/ecdcbb0782b0997a133eb591d69ebb0f.jpg);
}

#smess2 {
  background-image: url(https://i.pinimg.com/736x/0a/ea/4f/0aea4fdd08383a11d5ce5d309823ad33.jpg);
}

#smess3 {
  background-image: url(https://i.pinimg.com/474x/3c/c1/10/3cc1102fcceb8b4b32c26ad7e3094692.jpg);
}

#smess4 {
  background-image: url(https://i.pinimg.com/474x/13/38/66/133866ba61fd3d71fcc757f1f6af77f7.jpg);
}

#smess5 {
  background-image: url(https://i.pinimg.com/736x/36/c3/f0/36c3f00e14432da47c08272a8d529ea8.jpg);
}

.heading-fc {
  position: relative;
  top: 90px;
  left: -70px;
  width: 200px;
  height: 500px;
}

.textrotated img {
  transform: rotate(270deg);
  width: 330px;
  border: 5px olivedrab dashed;
  border-radius: 25px;
  /* border: 10px solid black; */
}

.heading-fc2 {
  position: relative;
  top: 130px;
  left: -70px;
  width: 200px;
  height: 500px;
}

.textrotated2 img {
  transform: rotate(270deg);
  width: 330px;
  border: 5px olivedrab dashed;
  border-radius: 25px;
  /* border: 1px solid black; */
}

.contentsectionscroll2 {
  height: 400px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  padding: 40px;
  border: 1px solid #ccc;
}

.contentsectionscroll2::-webkit-scrollbar {
  height: 12px;
}

.contentsectionscroll2::-webkit-scrollbar-track {
  background: #ffe5ec;
  border-radius: 10px;
}

.contentsectionscroll2::-webkit-scrollbar-thumb {
  background: #ff80ab;
  border-radius: 10px;
  border: 2px solid #ffe5ec;
}

.contentsectionscroll2::-webkit-scrollbar-thumb:hover {
  background: #ff4081;
}

.child-div {
  flex: 0 0 300px;
  height: 190px;
  padding: 40px;
  margin: 5px;
  background-color: #ffcccb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  text-align: center;
}

.reel-message {
  position: relative;
  z-index: 2;
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.child-div2 {
  flex: 0 0 400px;
  height: 290px;
  padding: 40px;
  margin: 5px;
  background-color: #ffcccb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  text-align: center;
}

.reel-message2 {
  position: relative;
  z-index: 2;
  color: black;
  text-align: center;
  font-weight: bold;
}

#smess12 {
  font-size: 18px;
  background-image: url(https://i.pinimg.com/474x/a3/3b/05/a33b051c1e14e7d8b47b59df5dba412b.jpg);
}

#smess22 {
  font-size: 16px;
  background-image: url(https://i.pinimg.com/236x/d0/e9/4c/d0e94c91c30298cb12c4aeefdf240d5d.jpg);
}

#smess32 {
  font-size: 16px;
  background-image: url(https://i.pinimg.com/236x/0f/ec/b3/0fecb33b203eae30c9e0828a1c43ca72.jpg);
}

#smess42 {
  font-size: 18px;
  background-image: url(https://i.pinimg.com/236x/47/3a/40/473a401daf0ef17b305aa36baa946b6d.jpg);
}

#smess52 {
  font-size: 15px;
  background-image: url(https://i.pinimg.com/474x/67/6f/61/676f616b3aa4ad242863d94c89df75e3.jpg);
}

#smess62{
  font-size: 20px;
  background-image: url(https://i.pinimg.com/236x/31/8a/ff/318aff948d425c93de92978748da1cfa.jpg);
}

.wishdiv2 {
  width: 60%;
  padding: 30px;
  padding-left: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 80px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.sectionZ2 {
  width: 100vw;
  height: auto;
  padding: 50px;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/736x/7a/21/a6/7a21a60f3aced069d40e5428c15d5778.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1px solid brown; */
}

.dissection{
  font-size: 16px;
}

#biggg{
  font-size: 30px;
}

:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

.lastdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px;
  padding-top: 30px;
}

.endwish {
  font-size: 50px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: var(--ls);
  position: relative;
  top: 15px;
  /* display: block; */
  overflow: hidden;
  background: var(--bg);
  background-color: #000000;
  margin: 0;
}

.endwish p{
  font-size: 30px;
  font-weight: 400;
  color: white;
  background-color: #000000;
}

.aurora {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}
